name: Lint

on:
  push:
    branches:
      - main
  pull_request:
    paths:
      - '.github/workflows/**'

jobs:
  lint_workflows:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: rhysd/actionlint@v1.7.10

  lint_scripts:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: pip install -r requirements.txt
      - uses: py-actions/flake8@v2
      - uses: isort/isort-action@v1
