name: Validate

on:
  push:
    branches:
      - main
  pull_request:
    paths:
      - '.github/workflows/**'

jobs:
  validate-workflows:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Validate workflows
        uses: mpalmer/action-validator@v0.7.0
